<% if params[:display] == "top_40" %>
  <section id='top-movies'>
    <h1>Top Rated Movies</h1>

    <% @movies.each do |movie| %>
      <section id="movie-<%= movie[:id] %>">
        <%= movie[:title] %><br>
        Vote Average: <%= movie[:vote_average] %><br><br>
      </section>
    <% end %>
  </section>

<% elsif params[:movie_title].present? %>
  <section id='title-search'>
    <% @title_search.each do |movie| %>
      <section id="title_search-<%= movie[:id] %>">
        <%= movie[:title] %><br>
        Vote Average: <%= movie[:vote_average] %><br><br>
      </section>
    <% end %>
  </section>
<% end %>

