<%= render partial: "partials/to_dashboard" %>
<%= render partial: "partials/movie_filter" %>

<% if @movies.present? %>
<section id='movies'>
  <h1>Top Rated Movies</h1>

  <% @movies.each do |movie| %>
  <section id="movie-<%= movie.id %>">
    <%= link_to "#{movie.title}", "/movies/#{movie.id}", method: :get %><br>
    Vote Average: <%= movie.vote_average %><br><br>
  </section>
  <% end %>
</section>
<% end %>

