<h1>Top Rated Movies</h1>

<section id='movies'>
  <% @movies.each do |movie| %>
    <section id="movie-<%= movie[:id] %>">
      <%= movie[:title] %><br>
      Vote Average: <%= movie[:vote_average] %><br><br>
    </section>
  <% end %>
</section>

<section id='title-search'>
  <% @title_search.each do |movie| %>
    <section id="title_search-<%= movie[:id] %>">
      <%= movie[:title] %><br>
      Vote Average: <%= movie[:vote_average] %><br><br>
    </section>
  <% end %>
</section>
