<h1>Top Rated Movies</h1>

<section id='movies1'>
  <% @movies1[:results].each do |movie| %>
    <section id="movie-<%= movie[:id] %>">
      <%= movie[:title] %><br>
      Vote Average: <%= movie[:vote_average] %><br><br>
    </section>
  <% end %>
</section>

<section id='movies2'>
  <% @movies2[:results].each do |movie| %>
    <section id="movie-<%= movie[:id] %>">
      <%= movie[:title] %><br>
      Vote Average: <%= movie[:vote_average] %><br><br>
    </section>
  <% end %>
</section>