<h1> Movie Show Page </h1>
<%= render partial: "partials/to_dashboard" %>
<section class='create-viewing-party-link'>
  <%= link_to 'Create Viewing Party', "/viewing_party/new", method: :get, params: {movie_id: @movie.id} %>
</section>

<section id="movie-attributes">
  Title: <%= @movie.title %><br>
  Vote Average: <%= @movie.vote_average %><br>
  <% time = @movie.runtime.divmod(60) %>
  Run Time: <%= time.first %> Hours <%= time.last %> Minutes <br>
  Overview: <%= @movie.overview %><br>
  Genres: <%= @movie.genres.join(", ") %>
</section><br><br>

<section id="movie-cast">
  Cast: <br><% @cast.member.each do |name, character| %>
  <%= name %> as <%= character %><br>
  <% end %>
</section><br>

<section id="movie-reviews">
  <%= @reviews.total_results %> Reviews<br>
  <% @reviews.authors.each do |author, content| %>
  <section id="review-<%= author %>">
    <%= author %><br>
    <%= content %><br><br>
  </section>
  <% end %>
</section>