<h1> Movie Show Page </h1>
<%= render partial: "partials/to_dashboard" %>

<section id="movie-attributes">
  <%= @movie.title %><br>
  <%= @movie.vote_average %><br>
  <%= @movie.runtime %><br>
  <%= @movie.overview %><br>
  <% @movie.genres.each do |genre| %>
    <%= genre %><br>
  <% end %>
</section><br><br>

<section id="movie-cast">
  <% @cast.member.each do |name, character| %>
    <%= name %> as <%= character %><br>
  <% end %>
</section><br>

<section id="movie-reviews">
  <%= @reviews.total_results %> Reviews<br>
  <% @reviews.authors.each do |author, content| %>
    <section id="review-<%= author %>">
      <%= author %><br>
      <%= content %><br><br>
    </section>
  <% end %>
</section>