<h1>Welcome to Viewing Party</h1>

<section>
  Viewing party is an app that allows you to search movies and create viewing parties with your friends.
</section><br>


<section class="login-form">
  <%= form_with url: "/login", method: :post, local: true do |f| %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>

    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>

    <%= f.submit "Sign In" %>
  <% end %>
</section><br>
<button class="register-button">New to Viewing Party? Register Here</button>

<section class="register-form">
  <%= form_with url: "/users", method: :post, local: true do |f| %>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email %>

    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>

    <%= f.label :password, "Password Confirmation: " %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Register" %>
  <% end %>
</section><br>
<button class="login-button">Already have an account? Sign In</button>
