<h1>Welcome to Viewing Party</h1>

<section>
  Viewing party is an app that allows you to search movies and create viewing parties with your friends.
</section><br>

<%= form_with url: "/login", method: :post, local: true do |f| %>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email %>

  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %>
<% end %><br>

<%= link_to "New to Viewing Party? Register Here", "/register" %><br><br>
